@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.parent {
  position: relative;
  background-color: rgb(253, 253, 253);
}

.child {
  display: none;
  position: absolute;
  left: -100%;
  top: 0px;
}

.parent:hover>.child {
  display: block;
}